/* This is the configuration file, here you can adjust parameters and executors. */

/* pears requires:
 * 		- reads: zipped (.fastq.gz) and formatted according to cellranger naming convention
 *			([Sample Name]_S1_L00[Lane Number]_[Read Type]_001.fastq.gz)
 * 			 You will need to specify the length of the cell barcode and unique molecular identifier
 * 		- reference genome: unzipped
 *		- list of known fusion (shr_output): output from JAFFA can be directly piped pears or in the
 *			format of the example.csv file
 * or you can direct pears to each individual input file:
 * 		- reads = "/path/to/reads/"
 *		- reference = "/path/to/reference/"
 *			- if you have pre-generated .fasta or gene.gtf files, ref_fasta and ref_gene
 *			  can be changed.
 * you will also need to indicate an output directory:
 * 		- out_dir = "/path/to/output_directory/"
*/

params {
	fastq_r1 = "${projectDir}/demo/*_1.fastq"
	fastq_r2 = "${projectDir}/demo/*_2.fastq"
	known_fusions_list = "${projectDir}/demo/short_input.csv"
	ref_fasta = "${projectDir}/ref/hg38.fa"
	ref_gene = "${projectDir}/ref/gencode.v44.basic.annotation.gtf"
	star_genome_index = "${projectDir}/ref/STAR_index"
	out_dir = "/vast/projects/lab_davidson/davidson.n/20240110_Pears/pears/out"
	R2_length = 91
	umi_len = 12

	fuscia_mapqual = 30
	fuscia_up = 1000
	fuscia_down = 1000
	flexiplex_searchlen = 20
	flexiplex_demultiplex_options = ""

	barcode_whitelist = "$projectDir/modules/barcodes/"
	arriba_genome_version = "GRCh38+GENCODE44"

}

//adjustable parameters
/* fuscia_mapqual: minimum mapping quality of reads fuscia will look through
 * fuscia_up/fuscia_down: if there is no gene annotation, you can specify a range (bp) upstream/downstream
 *			  of the fusion breakpoint
 * flexiplex_searchlen: 2x the length of sequence (bp) flexiplex will use to look for the fusion sequence.
 * 			Please note, the longer the sequence, the longer flexiplex will take to run.
 * 			See **Davidson et al. (2023)
*/

//conda env
conda.enabled = true

// Resource tiers based on trace analysis
process {
    withLabel: 'process_high' {
        cpus = 16
        memory = '256 GB'
        time = '48h'
    }
    withLabel: 'process_medium' {
        cpus = 8
        memory = '64 GB'
        time = '24h'
    }
    withLabel: 'process_low' {
        cpus = 4
        memory = '16 GB'
        time = '8h'
    }
    withLabel: 'process_tiny' {
        cpus = 1
        memory = '4 GB'
        time = '1h'
    }
}

profiles {
    local {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
    }
}
